#box {
  background-color: blue;
  border-style: solid;
  border-width: 0.5rem;
  border-color: green;
  padding: 2rem;
  margin: auto;
  min-width: 200px;
  max-width: 300px;
  width: 50%;
  box-sizing: border-box;
}

.black-and-white {
  background-color: black;
  color: white;
}

.black-and-white:hover {
  background-color: white;
  color: black;
}
